.header {
    margin-top: 45px;
    max-width: 880px;
    border-bottom: solid 1px #545454;
    opacity: 0.7;
    height: 74px;
    margin-bottom: 40px;
}

@media screen and (max-width:620px) {
    .header{
        margin-top: 28px;
        margin-bottom: 32px;
    }

    .header__logo {
        width: 126px;
        height: 24px;
        padding-left: 19px;
        padding-right: 19px;
    }
}